.App {
    text-align: center;
}

a {
    font-size: 25px;
    padding-bottom: 5px;
}

li :hover {
    border-bottom: 3px solid black;
}
body {
    margin: 0px 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

ul {
    width: 500px;
    display: flex;
    background-color: #e200cf;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    margin: 0px;
}

li {
    margin-left: 10px;
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-intro {
    font-size: large;
}

canvas {
    margin: 10px 30px ;
    padding: 10px 30px;
    width: 90% !important;
    height: 50% !important;
    border: 3px solid black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#e200cf;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.scroll:active {
    height: 55px;
}

.scroll:hover {
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header h1 {
    align-self: stretch;
    margin: 0px;
    padding: 10px 0px;
    background-color: #221f3b;
    color: #ffffff;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 500px) {
    canvas {
        width: 250px;
    }
}